{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex" id="wrapper">

    {% include 'dashboard/partial/sidebar.html.twig' %}

    <div id="page-content-wrapper">

        {% include 'dashboard/partial/navbar.html.twig' %}

        <div class="container-fluid">

            <div class="row">

                <div class="col-xl-6">
                    {{ articleBody|raw}}
                </div>

            </div>

            <hr>

            <div class="row my-4">
                <div class="col-xl-6">
                    <a href="{{ path('app_dashboard_edit', {id: id}) }}" class="btn btn-primary">Попробовать еще раз</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}