<!DOCTYPE html>
<html lang="ru">

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}BlaBalarticle{% endblock %}</title>
        <link rel="icon" type="image/ico" href="{{ asset('img/favicon.png') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- Выражаю благодарность и признательность всем прямо или косвенно принявшим участие в разработке этого проекта -->
        <!-- Проект разработан в рамках учебного курса https://skillbox.ru -->
        <!-- Автор курса: Михаил Волков https://mvsvolkov.ru/ -->
        <!-- Наставник и куратор проекта: Леонид Грошев https://otezvikentiy.tech/ -->
        <!-- Студент-разработчик: telegram @John9683, mail john69683@gmail.com -->

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>

    <body>

        {% block body %}{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    </body>
</html>
